<!DOCTYPE html>
<html>
  <head>
    <title>GitTabz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>GitTabz</h1>

    <table border="1">
      <thead>View by</thead>
      <td><a href="/artist/all">Artists</a></td>
      <td><a href="/album/all">Albums</a></td>
      <td><a href="/song/all">Songs</a></td>



    </table>

    <p><a href="/about/about">about</a></p>
    <p><a href="/about/user">user</a></p>

    <br />

  </body>
</html>
