<html>
<head>
    <title><%= result[0] %></title>
</head>

<body>
    <h1>Favorites</h1>
    <p>incomplete</p>


    <table border="1">
        <tr><th>Song</th><th>Artist</th><th>stared</th><th>rated</th></tr>
        <td>test</td>
        <% for(var j=0; j<result.length;j++) {%>

        <td><%= result[j] %>test</td>
        <% } %>%>
    </table>




</body>

</html>