<html>
<head>
    <title>About</title>
</head>
<body>
<h1>About</h1>
<h2>Purpose</h2>
<p>The purpose of this project is to make a guitar tabature website. You can browse through content by Artist, Album, and Song title.
    Once you open up the information for the song, you can also see information regarding it, includeing the instrument played, the tuning of the song
    and also the Tabature data itself (currently the tabature date is subsatuted with place data) </p>
<h2>Company</h2>
<p>GitTabz was conceived in the spring of 2016 by members Sean Cullen, Danny Thompson, Jonathon Max Thompson, and Zeyad Ayoub during our CS 370 class.
    The goal is to create our own Tabature android app. During development, we ran into the problem of not having an api to work with. <br/>
    The goal of this project is to fill the gap in GitTabz development.
</p>

<h2>Contact</h2>
<p> you can conntact me at (not a real number)</p>

</body>

</html>