<html>

<head>
    <title><%= result[0].Artist_id %></title>
</head>

<body>
    <h1><%= result[0] %></h1>
    <ul>
        <li>Artist Name: <%= result[0]%></li>
        <li>Biography: <%= result[0] %></li>

        <li>Real Names:
            <ul>


            </ul>

        </li>
    </ul>
</body>

</html>